<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <clear />
    <!-- Always specifying via command line since we want to share packages across projects -->
    <!-- <add key="repositoryPath" value="packages" /> -->
  </config>
  <packageSources>
    <!-- When <clear /> is present, previously defined ($/nuget.config) sources are ignored -->
    <!-- For more info, see https://docs.nuget.org/consume/nuget-config-file -->
    <clear />
    <!-- Intentionally v2, as v3 doesn't yet support list which is used by Update-Environment.ps1 -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>